.nav-bg{
    background-color: orange;
    /* color: white; */
}

.nav-font{
    color: white;
    font-family: 'Alegreya', serif;
}
.nav-brand-font{
    font-size: 2.1rem;
    font-weight: bolder;
    /* padding-left: 5%; */
    padding: 2% 5%;
    /* font-family: 'Bebas Neue', cursive; */
}
.nav-brand-font:hover{
    color: white;
}

.nav-font-link{
    font-size: 1.5rem;
    font-weight: bolder;

}
.nav-font-link:hover{
    color: white;
    /* background-color: white; */
    /* border-radius: 15px; */
}

.btn-toggle{
    background-color: transparent;
}
.btn-span{
    background-color: transparent;
}